html,
body {
  height: 100%;
  margin: 0;
}
#gallerie {
  border: solid 0.5px;
  color: aqua;
}
.container {
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image1 {
  display: inline-block;
  padding: 5px;
}
.image2 {
  display: inline-block;
  padding: 5px;
}
.image3 {
  display: inline-block;
  padding: 5px;
}
.image4 {
  display: inline-block;
  padding: 5px;
}
.image5 {
  display: inline-block;
  padding: 5px;
}
.image6 {
  display: inline-block;
  padding: 5px;
}
.image7 {
  display: inline-block;
  padding: 5px;
}
.image8 {
  display: inline-block;
  padding: 5px;
}
.image9 {
  display: inline-block;
  padding: 5px;
}

.image1 img {
  display: inline-block;
  width: 25vw;
  height: 25vh;
  background-position: center;
}

.image2 img {
  display: inline-block;
  width: 25vw;
  height: 25vh;
  background-position: center;
}
.image3 img {
  width: 25vw;
  height: 25vh;
  background-position: center;
}
.image4 img {
  width: 25vw;
  height: 25vh;
  background-position: center;
}
.image5 img {
  width: 25vw;
  height: 25vh;
  background-position: center;
}
.image6 img {
  width: 25vw;
  height: 25vh;
  background-position: center;
}
.image7 img {
  width: 25vw;
  height: 25vh;
  background-position: center;
}
.image8 img {
  width: 25vw;
  height: 25vh;
  background-position: center;
}
.image9 img {
  width: 25vw;
  height: 25vh;
  background-position: center;
}
