html,
body {
  background-color: #fafafa;
}

#Instagram {
  width: 60%;
  height: 60%;
  border: solid 1px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-position: center;
}

.container1,
.container2,
.container3 {
  display: inline-block;
  text-align: center;
  padding-top: 3px;
}

.container1 img,
.container2 img,
.container3 img {
  padding: 1px;
  display: inline-block;
  width: 29.5%;
  height: auto;
  background-position: center;
  aspect-ratio: 1;
}
